* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: whitesmoke;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: lightgray;
    padding: 5px;
    margin: 4px auto;
}

nav a {
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    width: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
}

main .projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.projects .project-link {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
}