@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.image {
	padding: 40px;
}
.image img {
	width: 70px;
	height: 70px;
}

.item ul {
	display: flex;
}
.item ul li {
	display: flex;
	align-content: center;
	list-style: none;
	cursor: pointer;
	padding: 10px;
}
.item ul li svg {
	padding: 0 5px;
}
a {
	text-decoration: none;
	color: black;
}

.first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}
.first span h1 {
	display: inline;
	font-size: 48px;
	font-weight: 300;
	padding: 0px 6px;

}

.first img {
	object-fit: contain;
}

.first p{
	width: 55vw;
	margin-top: 15px;
	justify-content: center;
	text-align: center;
	font-size: 20px;
}

.downButton button{
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	background-color: #00b6d1;
	color: white;
	padding: 20px;
	margin-top: 50px;
	text-transform: uppercase;
}

.second {
	display: flex;
	justify-content: center;
	margin: 70px 0px;
}
.second h3 {
	padding-left: 80px;
}

.third {
	display: flex;
	justify-content: center;
}
.downloads {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	/* column-gap: 15px; */
	gap: 20px;
	
}
.langName{
	text-align: center;
	font-weight: 900
}
.downloads .l-bit {
	border: none;
	padding: 8px 15px;
	background-color: #00b6d1;
	border-radius: 5px;
	font-weight: 500;
	color: white;
	font-size: 12px;
}

.downloads .r-bit {
	border: none;
	border-radius: 5px;
	padding: 8px 15px;
	background-color: rgb(99, 224, 99);
	font-weight: 500; 
	color: white;
	font-size: 12px;
}
.downloads .language{
	background-color: whitesmoke;
	height: 150px;
	padding: 14px 20px 14px 10px;

}
.downloads .language h3 {
	padding-bottom: 20px;
	font-weight: 700;
}
.downloads .language h3 small{
	color: grey;
	font-size: 12px;
}

.downloads .language .lanbuttons {
	padding-top: 40px;
}

@media screen and (max-width: 945px) {
	.downloads {
		display: grid;
		grid-template-columns: 1fr;
		gap: 13px;
	}
}